* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  margin: 0;
}

body {
  background-color: #fad1d9;
}

button {
  outline: 0 !important;
  cursor: pointer;
}

button:focus {
  box-shadow: inset 0 0 !important;
}

.gameboy {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .gameboy-body {
    position: relative;
    margin-top: 0em;
    width: 420px;
    height: 750px;
    background: #c5f6ff;
    border-radius: 20px 20px 50px 20px;
    border: 8px solid #26313d;
    box-shadow: inset 10px 0px 0px rgba(255, 255, 255, 0.7),
      inset -10px 0px 0px rgba(0, 0, 0, 0.2);
    .btn1 {
      position: relative;
      top: -8px;
      left: -8px;
      width: 70px;
      height: 57px;
      border: 8px solid #26313d;
      border-radius: 20px 0px 0px 0px;
    }
    .btn2 {
      margin-left: auto;
      position: relative;
      top: -64px;
      left: 8px;
      width: 70px;
      height: 57px;
      border: 8px solid #26313d;
      border-radius: 0px 20px 0px 0px;
    }
    .line {
      position: relative;
      top: -72px;
      height: 8px;
      background: #26313d;
      box-shadow: 0px 6px 0px #26313d27;
    }
    .visor {
      .frame {
        margin: auto;
        position: relative;
        top: -38px;
        width: 328px;
        height: 30vh;
        background-color: #697480;
        border: 8px solid #26313d;
        border-radius: 20px 20px 50px 20px;
        .line1 {
          position: absolute;
          top: 12px;
          left: 20px;
          width: 130px;
          height: 6px;
          background-color: #26313d;
          border-radius: 50px;
        }
        .line2 {
          position: absolute;
          top: 12px;
          left: 250px;
          width: 45px;
          height: 6px;
          background-color: #26313d;
          border-radius: 50px;
        }
        .button {
          position: absolute;
          top: 50%;
          margin-top: -8px;
          left: 15px;
          width: 16px;
          height: 16px;
          background-color: #e76e6e;
          border-radius: 50%;
          border: 4px solid #26313d;
        }
        .tela {
          margin: auto;
          position: relative;
          top: 31px;
          width: 220px;
          height: 200px;
          vertical-align: middle;
          background-color: #c4e48e;
          border: 8px solid #26313d;
          box-shadow: inset 6px 6px 0px rgba(0, 0, 0, 0.2);
          overflow: hidden;
        }
        .tela:after,
        .tela:before {
          content: "";
          height: 200%;
          width: 40px;
          background-color: rgba(255, 255, 255, 0.4);
          position: absolute;
          transform: rotate(45deg);
          top: -80px;
        }
        .tela:after {
          right: -20px;
          width: 60px !important;
        }
      }
    }
    .actions {
      padding: 0px 18px 0;
      .directions {
        position: relative;
        width: 148px;
        height: 148px;
        background-color: #a8acb1;
        border: 8px solid #26313d;
        border-radius: 50%;
        position: relative;
        display: flex;
        float: left;
        button {
          border: 6px solid #26313d;
          background-color: #697480;
          width: 40px;
          height: 40px;
          position: absolute;
          z-index: 9;
        }
        .arrow-left {
          border-right: none !important;
          box-shadow: inset 0 4px #fff, inset 0 -4px rgba(0, 0, 0, 0.2);
          top: 50%;
          margin-top: -20px;
          left: 12px;
        }
        .arrow-top {
          border-bottom: none !important;
          box-shadow: inset 0 4px #fff;
          left: 50%;
          margin-left: -20px;
          top: 12px;
        }
        .arrow-right {
          border-left: none !important;
          box-shadow: inset 0 4px #fff, inset 0 -4px rgba(0, 0, 0, 0.2);
          top: 50%;
          margin-top: -20px;
          right: 12px;
        }
        .arrow-bottom {
          border-top: none !important;
          box-shadow: inset 0 -4px rgba(0, 0, 0, 0.2);
          left: 50%;
          margin-left: -20px;
          bottom: 12px;
        }
      }
      .directions:after {
        content: "";
        width: 40px;
        height: 40px;
        background-color: #697480;
        position: relative;
        top: 50%;
        left: 50%;
        margin: -20px;
        z-index: 1;
      }
    }
    .buttons {
      border: 6px solid #26313d;
      padding: 6px 10px;
      background-color: #a8acb1;
      border-radius: 100px;
      float: right;
      position: relative;
      transform: rotate(-20deg);
      top: 25px;
      left: -10px;
      button {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: #e76e6e;
        border: 6px solid #26313d;
        margin: 5px 5px;
        padding: 0;
        box-shadow: inset 0 4px #fff, inset 0 -4px rgba(0, 0, 0, 0.2);
      }
    }
    .start-reset {
      list-style: none;
      text-align: center;
      width: 100%;
      float: left;
      li {
        display: inline-block;
        margin: 0 15px;
      }
      button {
        border: 6px solid #26313d;
        background-color: #697480;
        width: 22px;
        height: 58px;
        padding: 0;
        border-radius: 10px;
        box-shadow: inset 3px 0 #fff, 3px 0 rgba(0, 0, 0, 0.2);
        transform: rotate(60deg);
        position: relative;
        left: -25px;
        top: -10px;
      }
    }
    .points {
      text-align: center;
      position: absolute;
      right: 20px;
      bottom: 25px;
      span {
        font-size: 35px;
        line-height: 5px;
        letter-spacing: 4px;
        margin-top: 0px;
        display: block;
        color: #26313d;
      }
    }
  }
}
